black
click
contourpy
cycler
fonttools
importlib-resources
kiwisolver
magpylib
matplotlib
mypy-extensions
narwhals
numpy
packaging
pathspec
pillow
platformdirs
plotly
pyparsing
python-dateutil
PyYAML
scipy
six
tomli
typing-extensions
zipp
